# Node.js
/frontend/node_modules
/frontend/.next
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Rust
/backend/target
/backend/.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user
